<!DOCTYPE html>
<html>
<head>
  <title>Foodhub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-xs-right">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <%= form_tag({controller: "restaurants", action: "search"}, method: "get") do %>
        <li class="nav-item">
              <p><%= text_field_tag(:q, nil, {class: 'form-control'}) %></p>
        </li>
        <li class="nav-item">
          <%= submit_tag("Search", class: 'btn btn-primary') %>
        </li>
          <% end %>

      </ul>
    </nav>
    <h3 class="text-muted">Foodhub</h3>
  </div>
</div> <!-- /container -->
<%= yield %>

</body>
</html>
